/* app-header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 80px; /* Altura del header */
  padding: 0 30px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000; 
}

.logo span {
  font-family: 'Inria Serif', serif;
  font-size: 80px;
  font-weight: bold;
  color: black;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

button.ingresar {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

button.ingresar:hover {
  background-color: #125699;
}

button.ingresar i {
  font-size: 20px;
}

button.help-icon {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

button.help-icon:hover {
  color: #125699;
}

button.help-icon i {
  font-size: 30px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px; /* Ajusta este valor según sea necesario */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}


.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
}



@keyframes fadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.manual-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.manual-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.manual-content .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.manual-content .close:hover {
  color: black;
}

/* Responsividad para el formulario de inicio de sesión y recuperación de contraseña */
@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }

  form {
    padding: 15px;
  }

  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
  }

  button[type="submit"],
  button[type="button"] {
    padding: 8px;
    font-size: 14px;
  }
}

/* Usuario y configuración */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.username-button {
  background-color: #1273c4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.settings-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

/* Menú desplegable */
.menu-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.menu-dropdown button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 14px;
}

.menu-dropdown button:hover {
  background-color: #f5f5f5;
}

/* Ajuste de tamaño para responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .nav-buttons {
    flex-direction: column;
    gap: 10px;
  }
}

