<div class="header">
  <div class="logo" (click)="navigateTo('')">
    <span>RPE</span>
  </div>

  <div class="nav-buttons">
    <!-- Si el usuario NO está autenticado, mostrar botón de Ingresar -->
    <button class="ingresar" *ngIf="!isLoggedIn" (click)="openModal('login')">
      <i class="fa fa-sign-in-alt"></i>
      Ingresar
    </button>

    <!-- Si el usuario está autenticado, mostrar el usuario y ajustes -->
    <div class="user-info" *ngIf="isLoggedIn">
      <i class="fa fa-user-circle user-icon"></i> <!-- Icono de usuario -->
      <button class="username-button">{{ username }}</button> <!-- Nombre del usuario -->

      <button class="settings-button" (click)="toggleSettingsMenu()">
        <i class="fa fa-cog"></i>
      </button>

      <div class="menu-dropdown" *ngIf="isSettingsMenuVisible">
        <button (click)="logout()">Cerrar sesión</button>
        <button (click)="openModal('manual')">Manual</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal" *ngIf="isModalVisible">
  <div class="modal-container">
    <ng-container *ngIf="modalType === 'login'">
      <app-login (loginSuccess)="handleLoginSuccess()"></app-login>
    </ng-container>
    <ng-container *ngIf="modalType === 'manual'">
      <app-manual (closeManual)="closeModal()"></app-manual>
    </ng-container>
  </div>
</div>
