.digitador {
  display: flex;
  flex-direction: column;  
  height: 100%;            
  justify-content: flex-start; 
  width: 100%;             
  padding: 0;
}

.contentDigitador {
  padding: 30px;
}

h2, h1 {
  text-align: center;
  color: #333;
}

/* Estilos para enlaces de consola */
.console-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #4a90e2;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.console-link:hover {
  background-color: #357ab8;
}

.info-container {
  text-align: center;
}

.inicio-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 8%;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: auto; 
}

.box {
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  position: relative;
}

.box h3 {
  margin: 0 auto; 
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
  top: 0;
}

.box p {
  margin: 0; 
  text-align: left;
  line-height: 1.5; 
  font-size: 1em;
}

.box h2 {
  margin: 0; 
  text-align: center; 
  line-height: 1.5; 
  font-size: 1em;
}

/* Información del investigador */
.box .info-investigador {
  margin-top: auto; /* Empuja hacia la parte inferior de la caja */
  font-size: 0.9em;
  color: #333;
}

/* Título centrado */
.description h3 {
  position: absolute; /* Posiciona el título */
  top: 0; /* Se coloca arriba */
  left: 50%; /* Punto medio horizontal */
  transform: translateX(-50%); /* Centra el texto */
  margin-top: 10px; /* Espacio arriba */
  font-size: 1.1em; /* Ajusta tamaño */
  font-weight: bold; /* Negrita opcional */
}

.description {
  height: 200px; 
}

.info-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.capa,
.total-pacientes {
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #000;
  width: 60%;
  margin: 10px auto;
}

.contentRegistro2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: auto; /* Ajusta altura completa restando el tamaño del navbar */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 3%;
}