<div class="table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column.header }}</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let column of columns">{{ row[column.field] }}</td>
          <td>
            <button class="action-btn view" title="Ver"><i class="fa fa-eye"></i></button>
            <button class="action-btn edit" title="Editar"><i class="fa fa-edit"></i></button>
            <button class="action-btn delete" title="Eliminar"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  