<div class="table-controls">
    <!-- Elementos por página -->
    <div class="items-per-page">
        <label>Elementos por página:</label>
        <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
    </div>

    <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Buscar"
          (keyup.enter)="onPageChange.emit({page: 0, size: itemsPerPage, query: searchQuery})"
        />
        <i class="fa fa-search"></i>
    </div>
</div>

<div class="table-container" *ngIf="!loading; else loadingTemplate">
    <table>
        <thead>
            <tr>
                <th *ngFor="let col of columns">{{ col.header }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let col of columns">{{ row[col.field] }}</td>
                <td>
                    <div class="actions">
                        <button class="action-btn view" (click)="view(row)">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button class="action-btn edit" (click)="edit(row)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loadingTemplate>
    <div class="loading-message">Cargando datos...</div>
</ng-template>

<div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1 || loading">Anterior</button>
    <span>Página {{ currentPage }} (Total: {{ totalRecords }} registros)</span>
    <button (click)="nextPage()" [disabled]="loading">Siguiente</button>
</div>