<div class="user-form-container">
  <h2>Crear variable</h2>
  <form [formGroup]="form" (ngSubmit)="crearVariable()">
    
    <div class="form-row">
      <input type="text" placeholder="Nombre" formControlName="nombreVariable" required />
      <div *ngIf="campoEsValido('nombreVariable')">
        <small class="error-message" *ngIf="form.get('nombreVariable')?.hasError('required')">El nombre es obligatorio.</small>
        <small class="error-message" *ngIf="form.get('nombreVariable')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</small>
      </div>
    </div>

    <div class="form-row">
      <textarea placeholder="Descripción" formControlName="descripcion" required></textarea>
      <div *ngIf="campoEsValido('descripcion')">
        <small class="error-message" *ngIf="form.get('descripcion')?.hasError('required')">La descripción es obligatoria.</small>
        <small class="error-message" *ngIf="form.get('descripcion')?.hasError('minlength')">La descripción debe tener al menos 5 caracteres.</small>
      </div>
    </div>

    <div class="form-row">
      <select formControlName="tipo" required>
        <option value="" disabled selected>Tipo</option>
        <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
      </select>
      <div *ngIf="campoEsValido('tipo')">
        <small class="error-message" *ngIf="form.get('tipo')?.hasError('required')">El tipo es obligatorio.</small>
      </div>
    </div>

    <div class="form-row">
      <select formControlName="idCapaInvestigacion" required>
        <option *ngFor="let capa of capasInvestigacion" [value]="capa.id">{{ capa.nombreCapa }}</option>
      </select>
      <div *ngIf="campoEsValido('idCapaInvestigacion')">
        <small class="error-message" *ngIf="form.get('idCapaInvestigacion')?.hasError('required')">La capa de investigación es obligatoria.</small>
      </div>
    </div>

    <div class="form-row">
      <label>
        <input type="checkbox" formControlName="tieneOpciones" (change)="onTieneOpcionesChange()" /> ¿Tiene opciones?
      </label>
    </div>

    <div *ngIf="form.value.tieneOpciones" class="form-row">
      <label>Opciones:</label>
      <div *ngFor="let opcion of opciones.controls; let i = index">
        <input type="text" [formControlName]="i" required />
        <button type="button" (click)="eliminarOpcion(i)">Eliminar</button>
      </div>
      <button type="button" (click)="agregarOpcion()">Agregar opción</button>
    </div>

    <div class="form-button">
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>
  </form>
</div>
