<nav class="navbar">
  <ul class="navbar-links">
    <!-- Common tabs for all admins -->
    <li (click)="selectTab('inicioAdmin')" [class.selected]="selectedTab === 'inicioAdmin'">
      <a class="text">Inicio</a>
    </li>
    <li (click)="selectTab('gestionUsuarios')" [class.selected]="selectedTab === 'gestionUsuarios'">
      <a class="text">Gestión de usuarios</a>
    </li>
    <li (click)="selectTab('gestionVariables')" [class.selected]="selectedTab === 'gestionVariables'">
      <a class="text">Gestión de variables</a>
    </li>
    <li (click)="selectTab('gestionCapas')" [class.selected]="selectedTab === 'gestionCapas'">
      <a class="text">Gestión de capas de investigación</a>
    </li>
        <li (click)="selectTab('gestionSuperset')" [class.selected]="selectedTab === 'gestionSuperset'">
      <a class="text">Gestión de apache superset</a>
    </li>
    <!-- Tab only for SuperAdmin -->
    <li *ngIf="isSuperAdmin" 
        (click)="selectTab('gestionRegistrosCapas')" 
        [class.selected]="selectedTab === 'gestionRegistrosCapas'">
      <a class="text">Gestión de registros de capas</a>
    </li>
  </ul>
</nav>