<div class="investigador">
  <app-navbar-investigador (tabSelected)="onTabSelected($event)"></app-navbar-investigador>

  <div class="contentInvestigador">
    <div *ngIf="selectedTab === 'inicioInvestigador'" class="info-container">
      <h1>Bienvenido investigador</h1>
      <div class="inicio-content">
        <app-graficas-inicio></app-graficas-inicio>
      </div>
    </div>
    <div *ngIf="selectedTab === 'consultaDatos'">
      <app-consulta-datos></app-consulta-datos>
    </div>
    <div *ngIf="selectedTab === 'consultasGuardadas'" class="contentInvestigador2">
      <app-table-ver-consultas [data]="consultasData" [columns]="consultasColumns" [itemsPerPageOptions]="[5, 10, 20]"
        (onView)="handleView($event)" (onEdit)="handleEdit($event)"
        (onDelete)="handleDelete($event)"></app-table-ver-consultas>
    </div>
  </div>
</div>