<div class="investigador">
    <app-navbar-investigador (tabSelected)="onTabSelected($event)"></app-navbar-investigador > 
    
    <div class="contentInvestigador">
      <div *ngIf="selectedTab === 'inicioInvestigador'" class="info-container">
        <h1>Bienvenido investigador</h1>
      <div class="inicio-content">
        <p>
          Aqui van las graficas
        </p>
        <img src="../../assets/img/sistemaInformacion.png" alt="Doctor escribiendo en una libreta" />
      </div>
      </div>
      <div *ngIf="selectedTab === 'consultaDatos'">
        <h1>Consultar datos</h1>
      </div>
      <div *ngIf="selectedTab === 'consultasGuardadas'">
        <h1>Consultas guardadas</h1>
      </div>
    </div>
  </div>
  