<nav class="navbar">
  <ul class="navbar-links">
    <li (click)="selectTab('inicioDigitador')" [class.selected]="selectedTab === 'inicioDigitador'">
      <a class="text">Inicio</a>
    </li>
    <li (click)="selectTab('registroPaciente')" [class.selected]="selectedTab === 'registroPaciente'">
      <a class="text">Registrar nuevo paciente</a>
    </li>
    <li (click)="selectTab('listadoPacientes')" [class.selected]="selectedTab === 'listadoPacientes'">
      <a class="text">Ver listado de pacientes</a>
    </li>
    <li (click)="selectTab('consultaDatosDigitador')" [class.selected]="selectedTab === 'consultaDatosDigitador'">
      <a class="text">Consulta de datos</a>
    </li>
  </ul>
</nav>