<!-- Componente Admin Principal -->
<div class="admin">
  <!-- Navbar del administrador -->
  <app-navbar-admin (tabSelected)="onTabSelected($event)"></app-navbar-admin>

  <!-- Contenedor principal del contenido -->
  <div class="contentAdmin">
    <!-- Sección de Inicio -->
    <div *ngIf="selectedTab === 'inicioAdmin'" class="info-container">
      <h1>Bienvenido administrador</h1>
      <div class="inicio-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <img src="../../assets/img/sistemaInformacion.png" alt="Doctor escribiendo en una libreta" />
      </div>
    </div>

    <!-- Gestión de Usuarios -->
    <div *ngIf="selectedTab === 'gestionUsuarios'">
      <!-- Verifica si se está creando un nuevo usuario -->
      <div *ngIf="!isCreatingUser">
        <div class="action-bar">
          <button class="btn btn-primary create-button" (click)="crearNuevoUsuario()">
            Crear nuevo usuario
          </button>
        </div>
        <app-table [data]="usuariosData" [columns]="usuariosColumns" [itemsPerPageOptions]="[5, 10, 20]"
          (onView)="handleView($event)" (onEdit)="handleEdit($event)" (onDelete)="handleDelete($event)">
        </app-table>
      </div>
      <div *ngIf="isCreatingUser" class="contentAdmin2">
        <app-form-registro-usuario (closeForm)="isCreatingUser = false"></app-form-registro-usuario>
      </div>
    </div>
    <!-- Gestión de Variables -->
    <div *ngIf="selectedTab === 'gestionVariables'">
      <div *ngIf="!isCreatingVar">
        <div class="action-bar">
          <button class="btn btn-primary create-button" (click)="crearNuevaVariable()">
            Crear nueva variable
          </button>
        </div>
        <app-table [data]="variablesData" [columns]="variablesColumns" [itemsPerPageOptions]="[5, 10, 20]"
          (onView)="handleView($event)" (onEdit)="handleEdit($event)" (onDelete)="handleDelete($event)">
        </app-table>
      </div>
      <div *ngIf="isCreatingVar" class="contentAdmin2">
        <app-form-registro-variables (closeForm)="isCreatingVar = false"></app-form-registro-variables>
      </div>
    </div>

    <!-- Gestión de Capas -->
    <div *ngIf="selectedTab === 'gestionCapas'">
      <div *ngIf="!isCreatingCapa">
        <div class="action-bar">
          <button class="btn btn-primary create-button" (click)="crearNuevaCapa()">
            Crear nueva capa
          </button>
        </div>
        <app-table [data]="capasData" [columns]="capasColumns" [itemsPerPageOptions]="[5, 10, 20]"
          (onView)="handleView($event)" (onEdit)="handleEdit($event)" (onDelete)="handleDelete($event)">
        </app-table>
      </div>
      <div *ngIf="isCreatingCapa" class="contentAdmin2">
        <app-form-registro-capas (closeForm)="isCreatingCapa = false"></app-form-registro-capas>
      </div>
    </div>
  </div>
</div>