<!-- Componente Admin Principal -->
<div class="admin">
  <!-- Navbar del administrador -->
  <app-navbar-admin (tabSelected)="onTabSelected($event)"></app-navbar-admin>

  <!-- Contenedor principal del contenido -->
  <div class="contentAdmin">
    <!-- Sección de Inicio -->
    <div *ngIf="selectedTab === 'inicioAdmin'" class="info-container">
      <h1>Bienvenido administrador</h1>
      <div class="inicio-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <img src="../../assets/img/sistemaInformacion.png" alt="Doctor escribiendo en una libreta" />
      </div>
    </div>

    <!-- Gestión de Usuarios -->
    <div *ngIf="selectedTab === 'gestionUsuarios'">
      <div *ngIf="!isCreatingUser && !isEditingUser">
        <div class="action-bar">
          <button class="btn btn-primary create-button" (click)="crearNuevoUsuario()">
            Crear nuevo usuario
          </button>
        </div>
        <app-table [data]="usuariosData" [columns]="usuariosColumns" [itemsPerPageOptions]="[5, 10, 20]"
          (onView)="handleView($event, 'usuario')" (onEdit)="handleEdit($event, 'usuario')"
          (onDelete)="handleDelete($event)">
        </app-table>
      </div>

      <!-- Formulario de Edición de Usuario -->
      <div *ngIf="isEditingUser" class="contentAdmin2">
        <h3>Editar Usuario</h3>
        <form (submit)="guardarEdicionUsuario(userToEdit)">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="userToEdit.nombre" name="nombre" required />
          <label>Apellido:</label>
          <input type="text" [(ngModel)]="userToEdit.apellido" name="apellido" required />
          <label>Email:</label>
          <input type="email" [(ngModel)]="userToEdit.email" name="email" required />
          <label>Usuario:</label>
          <input type="text" [(ngModel)]="userToEdit.usuario" name="usuario" required />
          <button type="submit" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="isEditingUser = false">Cancelar</button>
        </form>
      </div>

      <!-- Formulario de Creación de Usuario -->
      <div *ngIf="isCreatingUser" class="contentAdmin2">
        <app-form-registro-usuario (closeForm)="isCreatingUser = false"></app-form-registro-usuario>
      </div>
    </div>

    <!-- Gestión de Variables -->
    <div *ngIf="selectedTab === 'gestionVariables'">
      <div *ngIf="!isCreatingVar">
        <div class="action-bar">
          <button class="btn btn-primary create-button" (click)="crearNuevaVariable()">
            Crear nueva variable
          </button>
        </div>
        <app-table [data]="variablesData" [columns]="variablesColumns" [itemsPerPageOptions]="[5, 10, 20]"
          (onView)="handleView($event, 'variable')" (onEdit)="handleEdit($event, 'variable')"
          (onDelete)="handleDelete($event)">
        </app-table>
      </div>
      <div *ngIf="isCreatingVar" class="contentAdmin2">
        <app-form-registro-variables (closeForm)="isCreatingVar = false"></app-form-registro-variables>
      </div>
    </div>

    <!-- Gestión de Capas -->
    <div *ngIf="selectedTab === 'gestionCapas'">
      <div *ngIf="!isCreatingCapa && !isEditingCapa">
        <div class="action-bar">
          <button class="btn btn-primary create-button" (click)="crearNuevaCapa()">
            Crear nueva capa
          </button>
        </div>
        <app-table [data]="capasData" [columns]="capasColumns" [itemsPerPageOptions]="[5, 10, 20]"
          (onView)="handleView($event, 'capa')" (onEdit)="handleEdit($event, 'capa')" (onDelete)="handleDelete($event)">
        </app-table>
      </div>
      <div *ngIf="isCreatingCapa" class="contentAdmin2">
        <app-form-registro-capas (closeForm)="isCreatingCapa = false"></app-form-registro-capas>
      </div>

    </div>
  </div>
</div>

<!-- Modal para ver detalles -->
<div *ngIf="isViewing" class="modal-overlay">
  <div class="modal-content">
    <h2>Detalles de {{ viewType }}</h2>

    <div *ngIf="viewType === 'usuario'"  class="modal-content">
      <div class="modal-body">
        <p><strong>Nombre:</strong> {{ viewedItem.nombre }}</p>
        <p><strong>Apellido:</strong> {{ viewedItem.apellido }}</p>
        <p><strong>Documento:</strong> {{ viewedItem.documento }}</p>
        <p><strong>Capa:</strong> {{ viewedItem.capa }}</p>
        <p><strong>Rol:</strong> {{ viewedItem.rol }}</p>
      </div>
    </div>

    <div *ngIf="viewType === 'variable'" class="modal-content">
      <div class="modal-body">
        <p><strong>Nombre:</strong> {{ viewedItem.nombre }}</p>
        <p><strong>Descripción:</strong> {{ viewedItem.descripcion }}</p>
        <p><strong>Capa:</strong> {{ viewedItem.capa }}</p>
        <p><strong>Tipo:</strong> {{ viewedItem.tipo}}</p>

        <div *ngIf="viewedItem.opciones && viewedItem.opciones.length > 0">
          <p><strong>Opciones:</strong></p>
          <ul>
            <li *ngFor="let opcion of viewedItem.opciones">{{ opcion }}</li>
          </ul>
        </div>
      </div>
    </div>


    <div *ngIf="viewType === 'capa'" class="modal-content">
      <div class="modal-body">
        <p><strong>Nombre:</strong> {{ viewedItem.nombreCapa }}</p>
        <p><strong>Descripción:</strong> {{ viewedItem.descripcion }}</p>
        <p><strong>Jefe:</strong> {{ viewedItem.jefe }}</p>
      </div>

    </div>

    <button (click)="closeViewModal()" class="btn btn-secondary">Cerrar</button>
  </div>
</div>

<!-- Modal para editar Capa -->
<div *ngIf="isEditingCapa" class="modal-overlay">
  <div class="user-form-container">
    <span class="close" (click)="isEditingCapa = false">&times;</span>
    <h2>Editar Capa</h2>
    <form (submit)="guardarEdicionCapa()">
      <div class="form-row">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="capaToEdit.nombreCapa" name="nombreCapa" required />
      </div>
      <div class="form-row">
        <label>Descripción:</label>
        <input type="text" [(ngModel)]="capaToEdit.descripcion" name="descripcion" required />
      </div>
      <div class="form-row">
        <label>Nombre del Jefe de Capa:</label>
        <input type="text" [(ngModel)]="capaToEdit.jefe" name="jefeCapaNombre" required />
      </div>
      <div class="form-row">
        <label>Número de Identificación del Jefe de Capa:</label>
        <input type="text" [(ngModel)]="capaToEdit.jefeCapa.numero_identificacion" name="jefeCapaIdentificacion"
          required />
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="isEditingCapa = false">Cancelar</button>
    </form>
  </div>
</div>

<!-- Modal para editar Variable -->
<div *ngIf="isEditingVar" class="modal-overlay">
  <div class="user-form-container">
    <h2>Editar Variable</h2>
    <form (submit)="guardarEdicionVariable(varToEdit)">
      <div class="form-row">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="varToEdit.nombre" name="nombre" required />
      </div>
      <div class="form-row">
        <label>Descripción:</label>
        <input type="text" [(ngModel)]="varToEdit.descripcion" name="descripcion" required />
      </div>
      <div class="form-row">
        <label>Capa de Investigación:</label>
        <select [(ngModel)]="varToEdit.capa" name="idCapaInvestigacion" required>
          <option *ngFor="let capa of capasData" [value]="capa.id">{{ capa.nombreCapa }}</option>
        </select>
      </div>
      <div class="form-row">
        <label>Tipo:</label>
        <input type="text" [(ngModel)]="varToEdit.tipo" name="tipo" required />

      </div>
      <div class="form-row">
        <label>Opciones:</label>
        <div *ngIf="varToEdit.tieneOpciones">
          <div *ngFor="let opcion of varToEdit.opciones; let i = index">
            <input type="text" [(ngModel)]="varToEdit.opciones[i]" name="opcion{{i}}" required />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="isEditingVar = false">Cancelar</button>
    </form>
  </div>
</div>