<div class="user-form-container">
  <h2>Registro de capa de investigación</h2>

  <form [formGroup]="form" (ngSubmit)="registrarCapa()">

    <!-- Campo: Nombre de la Capa -->
    <label>Nombre de la capa:</label>
    <div class="form-row">
      <input type="text" id="layerName" formControlName="layerName" placeholder="Nombre de la capa" />
      <div *ngIf="form.get('layerName')?.invalid && form.get('layerName')?.touched" class="error-message">
        <small>El nombre de la capa es obligatorio (mínimo 3 caracteres).</small>
      </div>
    </div>

    <!-- Campo: Descripción -->
    <div class="form-row">
      <label>Descripción de la capa:</label>
      <textarea id="description" formControlName="description" placeholder="Descripción"></textarea>
      <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" class="error-message">
        <small>La descripción es obligatoria (mínimo 5 caracteres).</small>
      </div>
    </div>

    <!-- Grupo: Jefe de Capa -->
    <div formGroupName="layerBoss">
      <label>Nombre del jefe de capa:</label>
      <div class="form-row">
        <input type="text" id="bossName" formControlName="name" placeholder="Nombre del jefe de capa" />
        <div *ngIf="form.get('layerBoss.name')?.invalid && form.get('layerBoss.name')?.touched" class="error-message">
          <small>El nombre del jefe de capa es obligatorio (mínimo 3 caracteres).</small>
        </div>
      </div>
      
      <label>Número de identificación del jefe:</label>
      <div class="form-row">
        <input type="hidden" formControlName="id" />
        <input type="text" id="identificationNumber" formControlName="identificationNumber"
          placeholder="Número de identificación del jefe" />
        <div
          *ngIf="form.get('layerBoss.identificationNumber')?.invalid && form.get('layerBoss.identificationNumber')?.touched"
          class="error-message">
          <small>El número de identificación es obligatorio (mínimo 5 caracteres).</small>
        </div>
      </div>
    </div>

    <div class="form-button">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Registrar capa</button>
    </div>

  </form>
</div>