<div class="container">
    <div class="card-sistema">
        <div class="card-content-sistema">
            <div class="image-left-sistema">
                <img src="../../assets/Ejemplos-de-sistemas-de-informacion.jpg"
                    alt="Ejemplos de sistemas de información" />
                <p class="image-credit">Crédito: https://www.getxplor.com/blog/ejemplos-de-sistemas-de-informacion/</p>
            </div>
            <div class="text-right-sistema">
                <h2 class="card-title-sistema">¿Qué es un sistema de información?</h2>
                <p class="card-description-sistema">Un sistema de información es un conjunto ordenado de personas,
                    procesos
                    y herramientas cuyo fin es administrar datos e información, de manera que puedan ser recuperados y
                    procesados fácil y rápidamente.</p>
                <p class="card-description-sistema">Todo sistema de información se compone de una serie de recursos
                    interconectados y en interacción, bien organizados y dispuestos del modo más conveniente en relación
                    con
                    un propósito informativo determinado, que puede ser recabar información personal, procesar
                    estadísticas,
                    organizar archivos, entre otros.</p>
                <p class="card-description-sistema">Los sistemas de información pueden presentar diferencias, pero
                    generalmente recolectan y clasifican datos, que son procesados por personas y/o con recursos
                    informáticos,
                    para que sean fáciles de comprender y recuperar. Así, esta información queda almacenada para ser
                    consultada de manera sencilla o para ser divulgada cuando sea necesario.</p>
            </div>
        </div>
    </div>
</div>